body {
  background: #236467;
  font-family: arial;
  margin: 0;
}

Header{
  background: #67989A;
  color: white;
  font-size: 75px;
  padding: 10px 15px 10px 15px;
}

/*GameTime!*/
h1 {
  font-size: 75px;
  color: white;
}

/*Welcome to my Website!*/
h2 {
  color: rgb(255, 255, 255);
  font-size: 55px;
  padding: 10px 25px 10px 75px;
  margin: 10px;
  text-align: center;
}

/*Information Column's for about page*/
.infoColumn {
  column-count:3;
  column-gap: 40px;
  column-rule-style: solid;
  column-rule-width: 20px;
  padding: 100px, 100px, 100px, 100px;
  background: white;
  margin: 10px;
}

/*Navigation Bar*/
li {
  color: #236467;
  font-size: 55px;
}

a {
  color: blue;
}



.flex-container {
  display: flex;
  background-color: #236467;
}

.flex-container > div {
  background-color: white;
  margin: 40px;
  padding: 15px;
  font-size: 30px;
}
img {
  object-fit: contain;
  background-size: contain;
}
.flex-container .btn {
  position: absolute;
  top:275px;
  left: 10px;
  transform: translate(100%, 50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.flex-container .btn:hover {
  background-color: black;
}

p {
  background: #666;
  color: white;
  font-size: 20px;
  margin: 20px;
  padding: 10px;
  padding-left: 10px;
}

/*Header for GameTime!*/
header h1 {
  margin: 65px;
  padding: 0 0 0px 0px;
  display: inline;
}

/*styling for Navigation Bar*/
nav ul{
  margin: 400px;
  padding: 0px 0 0 15px;
  display: inline;
  
}

/*Navigation Bar blocks*/
nav ul li{
  
  color: white;
  display: inline-block;
  list-style-type: none;
  padding: 5px 15px;
  margin: 0;
}
nav ul li a {
  color: white;
}

.row:after {
  clear:both;
}
.infoColumn {
  column-count: 3;
  column-rule-width: 1px;
  column-width: 100px;
  background: lightblue;
  padding: 15px;
  align-content: center;
  margin: 20px;

}
.col {
  background: #333;
  float: left;
  color: white;
  margin: 1%;
  width: 28%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 40px;
  text-align: center;
  
}
